@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	transition: all 0.2s ease-in-out;
    scrollbar-width: thin;
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
